# WordLab Temp files
*.csv.update.tmp
*.csv.rollback.tmp
*.log
buf.bsv
Files/settings/latest_launch.dat
WordLab/stdout
WordLab/WordLab

# WordLab Backup files
*.csv.prev

# Windows Icon files
*.ini
*.exe

# Trash files
.DS_Store