# WordLab Temp files
*.csv.update.tmp
*.csv.rollback.tmp
*.log
buf.bsv
buf.csv
buf2.csv
buf.dat
buf_table.dat
Files/settings/latest_launch.dat
WordLab/stdout
WordLab/WordLab

# WordLab Backup files
*.csv.prev

# Windows Icon files
*.ini
*.exe

# Trash files
.DS_Store