# WordLab Temp files
*.csv.update.tmp
*.csv.rollback.tmp
Files/buf*.tmp
Files/lang/molecular/*/*.tmp
*.log
buf.bsv
buf.csv
buf2.csv
buf.dat
out.dat
buf_table.dat
Files/settings/latest_launch.dat
WordLab/stdout
WordLab/WordLab

# WordLab Backup files
*.csv.prev

# Windows Icon files
*.ini
*.out
*.exe
.vscode

# Trash files
.DS_Store

# Game Files

# Binary Files
chat/chat